body{
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
    
}

.head{
    background-color: #fff;
}


.head-rec{
    background-color: #333333;
    margin-right: 60px;
    margin-left: 220px;
    margin-top: 10px;
}

.head-rec a{
    text-decoration: none;
    color: #fff;
}

.head-rec a:hover{
    color: #f67280;
}

#logo img{
    margin-left: 30px;
}
.language {
    margin-left: 160px;
}


.navbar{
    background-color: #f67280;
    z-index: 1;
}

.navbar ul
{
    padding-left: 0px;
    text-shadow: 0.5px 0.5px 0.5px #333333;

}
.navbar ul>li{
    margin-right: 22px;

}

.navbar li:hover {
    background-color: transparent;
    background-color:#f99fa8;
    

}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
    background-color: #f99fa8;
}



.dropdown-content{
    background-color: #f67280;
}


.dropdown-content> li:hover{
    background-color: transparent;
}

.dropdown-content>li>a{
    color: #fff;
    font-weight: bold;
}
.dropdown-content>li>a:hover{
    color: #fff;
}
.dropdown-content > a {
    padding:0;
    margin:0;
}

.dropdown-content>li>a:hover, .dropdown-content>li>a:focus {
    background-color: transparent;
    margin-left: 7px;
    transition: margin 0.5s;

}




